<section id="galeria" class="section-intro bg-faded text-center hidden-overflow">
<!--<div class="container">-->
{{ page.content }}
	<div class="modular-row gallery-container {{ page.header.class }}">
		{{ unite_gallery(page.media.images) }}
	</div>
	<!--</div>-->
</section>