<section id = "intro"class="section-intro bg-image text-center hidden-overflow">
<div class="container">
        <div class="row">
        {% for member in page.header.crossfit %}
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="{{ page.media[member.pic].url }}" class="img-responsive" alt="">
                    </div>
                </div>
            {% endfor %}  
        </div>
    </div>
</div>
</section>
